---
import Convertor from "./partials/convertor.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Convertify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="bg-slate-200 flex flex-col gap-4 text-color-red">
    <Convertor />
  </body>
</html>
