---
import { PORTFOLIO } from "../../constants";

let portfolioValue = 0;

try {
  const url = new URL("https://api.coingecko.com/api/v3" + "/simple/price");

  url.searchParams.set("ids", Object.keys({ ...PORTFOLIO }).join(","));
  url.searchParams.set("vs_currencies", "usd");

  const response = await fetch(url.toString());
  if (response.status !== 200) return;

  const data = await response.json();

  portfolioValue = Object.keys(data).reduce((acc, key) => {
    const coinValue =
      data[key].usd * (Astro.url.searchParams.get(key) || PORTFOLIO[key]);
    return acc + coinValue;
  }, 0);
} catch {}
---

<section class="w-full px-4 gap-2">
  <form hx-boost="true">
    <h1 class="text-2xl font-bold">Portfolio Value</h1>
    <div class="flex py-1">
      <h2 class="text-4xl font-bold">
        {
          Intl.NumberFormat("da-DK", {
            style: "currency",
            currency: "USD",
          }).format(portfolioValue || 0)
        }
      </h2>
    </div>
  </form>

  <button
    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2"
    form="portfolio"
    hx-trigger="click"
  >
    Calculate
  </button>
  <a href={"/?" + Astro.url.searchParams} class="hover:font-black">home</a>
</section>
