---
import Portfolio from "../pages/partials/portfolio.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Convertify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="bg-slate-200 flex flex-col gap-4 text-color-red">
    <a
      href="/"
      class="text-4xl font-bold flex justify-around items-center text-center text-color-red m-1 relative"
    >
      <p
        class="text-4xl self-end px-1 font-bold hover:text-green-500 absolute left-0"
      >
        ₿
      </p>
      Convertify
    </a>
    <Portfolio />
    <slot />
  </body>
</html>
